@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');
.Weebery {
  text-align: center;
}
.Philippo{
height: 420px;
border: solid black 1px;
color: white;
overflow: hidden;
background-image: url(Images/wp4111372.jpg);
background-size: 100% 150%;
background-repeat: no-repeat;
}
.Philippo img{
    width: 20%;
    float: left;
    height: 400px;
    margin-right: 10px;
    padding: 10px;
    
}
.Philippo h1,h2,h4,p{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
    width: 50%;
}

.emma-article{
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1em;
  background-color: #ccc;
}
.emma img{
  width: 100%;
}
.emma p{
  margin: 2em;
  color: black;
}
.Indo{
  font-family: 'Smooch Sans', sans-serif;
  background-color: blanchedalmond;

}
.Indo img{
  float: left;
  width: 400px;
}
.Indo p{
  color: black;
  font-size: 1em;
  letter-spacing: 3px;
  transition: 2s;
}
.Indo p:hover{
  color: white;
  background-color: black;
  border-radius: 5px;
  font-size: 2em;
}
